:root{
  --main-bg-color: background-color: darkred !important;
}

*{
  box-shadow: 0 0 0 0 !important; /*REMOVE A BORDA AZUL DOS INPUTS*/
}

.card-largura{
  width: 18rem;
}


.imagem-carrosel{
  height: 400px;
  object-fit: cover;
  object-position: 0 80%;
}
.fonte-titulo{
  font-family: 'Pacifico', cursive;
}
.cor-especial{
  color: darkred;
}
.btn-primary {
  background-color: darkred;
}

.btn:hover{
  border: 1px solid darkred !important;
  background-color: darkred !important;
}

.imagem-Card{
  height: 200px;
  object-fit: cover;
}
/*SESSÃO DE CONTATO*/
#inputEmail{
  border: 0;
  border-bottom: 1px solid darkred;
  border-radius: 0;
}

#btnSubmit{
  background-color: var(--main-bg-color);
}
/*SESSÃO DE CONTATO*/