.card-largura{
  width: 18rem;
}

.imagem-carrosel{
  height: 400px;
  object-fit: cover;
  object-position: 0 80%;
}
.fonte-titulo{
  font-family: 'Pacifico', cursive;
}
.cor-especial{
  color: darkred;
}
.btn-primary {
  background-color: darkred;
}

.btn:hover{
  border: 1px solid darkred !important;
  background-color: darkred !important;
}

.imagem-Card{
  height: 200px;
  object-fit: cover;
}
/*SESSÃO DE CONTATO*/



/*SESSÃO DE CONTATO*/